openapi: '3.0.3'
info:
  title: TheFlowWork
  version: '0.1'
servers:
  - url: https://api.theflowwork.ru/v1
paths:
  #Служба учёта расходников
  /supplies:
    get:
      responses:
        '200':
          description: OK
    put:
      responses:
        '200':
          description: OK
  /transactions:
    get:
      responses:
        '200':
          description: OK
    put:
      responses:
        '200':
          description: OK
  #Служба ведения работ
  /faults:
    get:
      responses:
        '200':
          description: OK
    put:
      responses:
        '200':
          description: OK
  /actions:
    get:
      responses:
        '200':
          description: OK
    put:
      responses:
        '200':
          description: OK
  /solutionTemplates:
    get:
      responses:
        '200':
          description: OK
    put:
      responses:
        '200':
          description: OK
  /actionsTypes:
    get:
      responses:
        '200':
          description: OK
    put:
      responses:
        '200':
          description: OK
  #Служба учёта оборудования
  /equipment:
    get:
      responses:
        '200':
          description: OK
    put:
      responses:
        '200':
          description: OK
  /models:
    get:
      responses:
        '200':
          description: OK
    put:
      responses:
        '200':
          description: OK
  /workshops:
    get:
      responses:
        '200':
          description: OK
    put:
      responses:
        '200':
          description: OK
  #Служба авторизации
  /users:
    get:
      responses:
        '200':
          description: OK
    put:
      responses:
        '200':
          description: OK
  /permissions:
    get:
      responses:
        '200':
          description: OK
    put:
      responses:
        '200':
          description: OK
  #Служба ведения заявок
  /requests:
    get:
      responses:
        '200':
          description: OK
    put:
      responses:
        '200':
          description: OK
  /shedule:
    get:
      responses:
        '200':
          description: OK
    put:
      responses:
        '200':
          description: OK
  /media:
    get:
      responses:
        '200':
          description: OK
    put:
      responses:
        '200':
          description: OK